
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title>Reset password confirmation - IEI Anchor Pensions Appraisal</title>

    <meta name="description" content="Reset password confirmation - IEI Anchor Pensions Appraisal">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">

    <!-- Open Graph Meta -->
    <meta property="og:title" content="Reset password confirmation - IEI Anchor Pensions Appraisal">
    <meta property="og:site_name" content="Anchor Pensions">
    <meta property="og:description" content="Reset password confirmation - IEI Anchor Pensions Appraisal">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="~/Images/ieilogo.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Images/ieilogo.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Images/ieilogo.png">
    <!-- END Icons -->
    <!-- Stylesheets -->
    <!-- Fonts and Dashmix framework -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" id="css-main" href="~/Content/Template/css/dashmix.min.css">

    <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
    <link rel="stylesheet" id="css-theme" href="assets/css/themes/xwork.min.css">
    <!-- END Stylesheets -->
</head>
<body>

    <div id="page-container">

        <!-- Main Container -->
        <main id="main-container">
            <!-- Page Content -->
            <div class="bg-image" style="background-image: url('../../Content/Template/media/photos/photo12@2x.jpg');">
                <div class="row no-gutters justify-content-center bg-black-75">
                    <!-- Main Section -->
                    <div class="hero-static col-md-6 d-flex bg-white">
                        <div class="p-3 w-100">
                            <!-- Header -->
                            <div class="mb-3 text-center">
                                <a class="" href="#">
                                    <img src="~/Images/ieilogo.png" />
                                </a>
                                <p class="text-uppercase font-w700 font-size-sm text-muted">Reset Password Confirmation</p>
                            </div>
                            <!-- END Header -->
                            <!-- Sign Up Form -->
                            <!-- jQuery Validation (.js-validation-signup class is initialized in js/pages/op_auth_signup.min.js which was auto compiled from _es6/pages/op_auth_signup.js) -->
                            <!-- For more info and examples you can check out https://github.com/jzaefferer/jquery-validation -->
                            <div class="row no-gutters justify-content-center">
                                <div style="width:100%" class="mt-4 text-center">Your password has been reset successfully.</div>
                                <div style="width:100%" class="mt-4 text-center"><a href="@Url.Action("login", "account")">Click here to login</a></div>
                                
                            </div>
                            <!-- END Sign Up Form -->
                        </div>
                    </div>
                    <!-- END Main Section -->
                </div>
            </div>
            <!-- END Page Content -->
        </main>
        <!-- END Main Container -->
    </div>
    <!-- END Page Container -->
    <script src="~/Content/Template/js/dashmix.core.min.js"></script>

    <script src="~/Content/Template/js/dashmix.app.min.js"></script>

    <!-- Page JS Code -->
    <script src="~/Content/Template/js/pages/op_auth_signup.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {


        })
    </script>
</body>
</html>
