@model IEnumerable<AprraisalApplication.Models.MigrationModels.NewAppraisal>

@{
    ViewBag.Title = "Initiated Appraisals";
}

<!-- Hero -->
<div class="bg-body-light">
    <div class="content content-full">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
            <h1 class="flex-sm-fill font-size-h2 font-w400 mt-2 mb-0 mb-sm-2">Appraisals</h1>
            <nav class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item">Appraisal</li>
                    <li class="breadcrumb-item active" aria-current="page">Appraisals</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- END Hero -->
<!-- Page Content -->
<div class="content">
    <!-- Elements -->
    <div class="block block-rounded block-bordered">
        <div class="block-header block-header-default">
            <h3 class="block-title">Appraisals</h3>
        </div>
        <div class="block-content">
            <div class="block block-rounded block-bordered">
                <div class="block-content block-content-full">
                    <!-- DataTables init on table by adding .js-dataTable-buttons class, functionality is initialized in js/pages/be_tables_datatables.min.js which was auto compiled from _es6/pages/be_tables_datatables.js -->
                    <div class="table-responsive">
                        <table class="table table-hover table-vcenter" id="table">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width: 50px;">#</th>
                                    <th>Appraisal Title</th>
                                    <th class="d-none d-sm-table-cell">Date Initiated</th>
                                    <th style="width: 80px">Participants</th>
                                    <th>Status</th>
                                    <th class="text-center" style="width: 100px;">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int num = 1;
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <th class="text-center" scope="row">@num</th>
                                            <td class="font-w600">
                                                <a href="/appraisal/view-appraisal/@item.Slug">@item.AppraisalTitle</a>
                                            </td>
                                            <td class="text-sm-left">
                                                @item.DateInitiated.ToString("dd-MMM-yyyy")
                                            </td>
                                            <td class="text-center">
                                                <a href="/mdappraisal/group-participants-md/@item.Slug" class="btn btn-sm btn-alt-dark" data-toggle="tooltip" title="View Participants">@item.AppraisalStaffs.Count()</a>
                                            </td>
                                            <td class="">
                                                @if (!item.IsCompleted)
                                                {
                                                    <span class="badge badge-success">Ongoing</span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-primary">Completed</span>
                                                }
                                            </td>
                                            <td class="text-center">
                                                <div class="btn-group">
                                                    <a href="/mdappraisal/view-appraisal-md/@item.Slug" class="btn btn-sm btn-primary" data-toggle="tooltip" title="View">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        ++num;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Elements -->
</div>
