@model AprraisalApplication.Models.ViewModels.DashboardVM
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Page Content -->
<div class="content content-full">

    <!-- Overview -->
    <h5 class="mt-4 mb-3">Home - Dashboard</h5>
    <div class="row">
        <div class="col-sm-5 invisible" data-toggle="appear">
            <div class="block block-rounded block-fx-pop text-center">
                <div class="block-content block-content-full">
                    <div class="row">
                        <div class="col-md-6">
                            <i class="fa fa-users font-size-h1 text-primary"></i>
                            <div class="font-size-h6">Employees</div>
                        </div>
                        <div class="font-size-h3 col-md-6 align-self-center" style="border-left:1px solid #e3e3e3">@Model.NumberOfEmployees</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="offset-1 col-sm-5 invisible" data-toggle="appear">
            <div class="block block-rounded block-fx-pop text-center">
                <div class="block-content block-content-full">
                    <div class="row">
                        <div class="col-md-8">
                            <i class="fa fa-book font-size-h1 text-primary"></i>
                            <div class="font-size-h6">Completed Appraisals</div>
                        </div>
                        <div class="font-size-h3 col-md-4 align-self-center" style="border-left:1px solid #e3e3e3">@Model.CompletedAppraisals</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5 invisible" data-toggle="appear">
            <div class="block block-rounded block-fx-pop text-center">
                <div class="block-content block-content-full">
                    <div class="row">
                        <div class="col-md-8">
                            <i class="si si-book-open font-size-h1 text-primary"></i>
                            <div class="font-size-h6">Ongoing Appraisals</div>
                        </div>
                        <div class="font-size-h3 col-md-4 align-self-center" style="border-left:1px solid #e3e3e3">@Model.OngoingAppraisals</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Overview -->
</div>


@section Scripts {

    <!-- END Page Content -->
    <script>
        $(function () {
            
        });
    </script>
}
